@model IEnumerable<project2.Models.report>

@{
    ViewData["Title"] = "Index";
}
<style>
    th {
        margin: 6px;
    }

    td {
        margin: 6px;
        border: solid;
    }

    a {
        margin: 6px,6px;
    }
</style>
<h1 style="border-bottom:solid;">Reports</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<center>
<table>
    <thead>
        <tr>
            <th>
                <p>Title</p>
            </th>
            <th>
                <p>Date</p>
            </th>
            <th>
                <p>Content</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.isSolved)</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isSolved)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</center>
