@model IEnumerable<project2.Models.comments>

@{
    ViewData["Title"] = "Index";
}
<style>
    th {
        margin: 6px;
    }

    td {
        margin: 6px;
        border: solid;
    }

    a {
        margin: 6px,6px;
    }
</style>


    


<h1 style="border-bottom:solid;">Comments</h1>
<a asp-action="Create" >Create New</a>
<center>
<table>
    <thead>
        <tr>
            <td>
               <p>ID</p>
                
            </td>
            <td>
                <p>Date</p>
                
            </td>
            <td>
                <p>Article</p>
               
            </td>
            <td>
               <p>Comment</p>
            </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.accountid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.articleid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</center>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}