@model project2.Models.article

@{
    ViewData["Title"] = "Details";
    
}

<h1>Details</h1>

<div>
    <h4>article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagefilename)
        </dt>
     
           @if ((string)ViewData["role"] == "admin" || (string)ViewData["role"]=="expert")
                    {

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagefilename)
        </dd>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit |</a>

            <a asp-action="Delete" asp-route-id="@Model.Id">Delete |</a>
                    }

        <center> <img src="~/images/@Model.imagefilename" height="220"> </center>
         <form  asp-action="CreateComment">
      




        <div class="form-group">
            <label  for="comment-text">Example textarea</label>
         <textarea class="form-control" name="commenttext" rows="3"></textarea>
            <input class="form-control" type="hidden" name="articleid" value= @Model.Id />  
             
             <button type="submit"  class="btn btn-primary">Submit</button>
         
         </div>

        </form>
        
        <ul>
            @foreach (var std in @ViewData["test"] as IList<s>)
            {
                
                <li>
                    @std.comment @std.Date  @std.username
                </li>
            
            }</ul>
  
      

    </dl>
</div>



 
<div>
  
@{

        if (ViewData["massage"] == "admin" || ViewData["massage"] == "expert")
    {
        
    

    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a asp-action="Index">Back to List</a>

    
    }

}

</div>