@model project2.Models.article

@{
    ViewData["Title"] = "Details";
    
}


<div style="margin-top:30px;">
    <a asp-action="Index">Back to List</a>
</div>


    

    <div class="row">
        <center>
        <h1>@Html.DisplayFor(model => model.topic)</h1>
        </center>
    </div>
    <br />
    <div class="row">
        <center><img src="~/images/@Model.imagefilename" style="margin-bottom:12px;"></center>

    </div>
    <div class="row">
        <center> <label style="padding:6px; border:solid;">Category : @Html.DisplayFor(model => model.category)</label><label style="margin-left:6px;padding:6px; border:solid;">Tag : @Html.DisplayFor(model => model.tag)</label></center>
    </div>

     <div class="row">       
        <center><p>@Html.DisplayFor(model => model.description)</p></center>
    </div>
















    <form  asp-action="CreateComment" style="border-top:solid;">
        <br />
        <label for="comment-text">Example Textarea</label>
        <div class="row">
            <div class="col-75">
                <textarea style="width:100%; height:140px;" name="commenttext" rows="3"></textarea>
                <input class="form-control" type="hidden" name="articleid" value=@Model.Id />
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>



            <ul style="border:solid;">
            @foreach (var std in @ViewData["test"] as IList<s>)
            {
                
                <li style="background-color:white">
                    <div style="text-align:left; color:gray">
                @std.username  -  @std.Date
                    </div>
            <div style="text-align:left;">
                @std.comment
                    </div>
                     
                </li>
            
            }</ul>
  
      





 
