@model IEnumerable<project2.Models.article>

@{
    ViewData["Title"] = "Index";
}


<style>
    th{
        margin:6px;
    }
    td{
        margin:6px;
        border:solid;
    }
    a{
       

        margin: 6px,6px;
        
    }
    

</style>
<h1 style="border-bottom:solid;">Articles</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>


<table >
    <thead>
        <tr>
            <th>
                
            </th>
           
            <th>
                <p>  Topic  </p>
            </th>

            <th>
                <p>  Category  </p>
            </th>
            <th>
                <p>  Tag  </p>
            </th>
            <th>
                <p>Description</p>
            </th>
            
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <th>


                    <img style="margin:0;" src="~/images/@item.imagefilename" height="20">

                </th>

                <td>
                    @Html.DisplayFor(modelItem => item.topic)
                </td>

                           
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                
            </td>
        </tr>
    
    }
    </tbody>
</table>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}