@model project2.Models.accounts

@{
    ViewData["Title"] = "Details";
}
<div style="margin-top:20px;">
    <a asp-action="Index">Back to List</a>
</div>
<h1>Details</h1>

<div class="Content">
    <h4>accounts</h4>
    <hr />

    <div class="row">
        <div class="col-25">UserName</div>
        <div class="col-75">@Html.DisplayFor(model => model.Id)</div>
    </div>
    
    <div class="row">
        <div class="col-25">UserName</div>
        <div class="col-75">@Html.DisplayFor(model => model.username)</div>
    </div>
    <div class="row">
        <div class="col-25">Email</div>
        <div class="col-75">@Html.DisplayFor(model => model.email)</div>
    </div>
    <div class="row">
        <div class="col-25">Gender</div>
        <div class="col-75">@Html.DisplayFor(model => model.gender)</div>
    </div>

    <div class="row">
        <div class="col-25">Role</div>
        <div class="col-75">@Html.DisplayFor(model => model.role)</div>
    </div>
    <div class="row">
        <div class="col-25">Birth Date</div>
        <div class="col-75">@Html.DisplayFor(model => model.Date)</div>
    </div>
        
</div>
<div style="text-align:center;margin-bottom:30px;margin-top:30px;">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}